table.ultraPivot thead, table.ultraPivot th, table.ultraPivot tr, table.ultraPivot td {
    font-size: 10px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

table.pvtTableContainer {
    border-spacing: 0 !important;
}

table.pvtTableContainer > tr, table.pvtTableContainer > tr > td {
    padding: 0 !important;
}

table.ultraPivot {
    text-align: left;
    border-collapse: collapse;
    border-spacing: 0 !important;
}

table.ultraPivot .pvtTotalLabel, table.ultraPivot .pvtColSubtotal, table.ultraPivot .pvtRowSubtotal,
table.ultraPivot .rowTotal, table.ultraPivot .colTotal {
    font-weight: bold;
}

table.ultraPivot th, table.ultraPivot td {
    padding: 5px !important;
}

table.ultraPivot tr {
    padding: 0 !important;
}

table.ultraPivot .pvtRowLabel, table.ultraPivot .pvtColLabel, table.ultraPivot td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

table.ultraPivot .pvtRowLabel, table.ultraPivot .pvtRowLabelFiller {
    vertical-align: top;
}

table.ultraPivot .pvtColLabel, table.ultraPivot .pvtColLabelFiller {
    text-align: left;
}

table.ultraPivot td {
    text-align: center;
}

.pvtTotal, .pvtGrandTotal {
    font-weight: bold;
}

.pvtRowOrder, .pvtColOrder {
    cursor:pointer;
    width: 15px;
    margin-left: 5px;
    display: inline-block;
}

.pvtAggregator {
    margin-bottom: 5px;
}

.pvtAxisContainer, .pvtVals {
    padding: 5px;
    min-width: 20px;
    min-height: 20px;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}

.pvtAxisContainer li {
    padding: 8px 6px;
    list-style-type: none;
    cursor:move;
}

.pvtAxisContainer li.pvtPlaceholder {
    padding: 3px 15px;
}

.pvtAxisContainer li span.pvtAttr {
    -webkit-text-size-adjust: 100%;
    padding: 2px 5px;
    white-space:nowrap;
}

.pvtTriangle {
    cursor:pointer;
}

.pvtHorizList li { display: inline; }
.pvtVertList { vertical-align: top; }

.pvtFilteredAttribute { font-style: italic }

.pvtFilterBox{
    z-index: 100;
    width: 300px;
    position: absolute;
    text-align: center;
}

.pvtFilterBox h4{ margin: 15px; }
.pvtFilterBox p { margin: 10px auto; }
.pvtFilterBox label { font-weight: normal; }
.pvtFilterBox input[type='checkbox'] { margin-right: 10px; margin-left: 10px; }
.pvtFilterBox input[type='text'] { width: 230px; }
.pvtFilterBox .count { font-weight: normal; margin-left: 3px;}

.pvtCheckContainer{
    text-align: left;
    font-size: 14px;
    white-space: nowrap;
    overflow-y: scroll;
    width: 100%;
    max-height: 250px;
}

.pvtCheckContainer p{ margin: 5px; }

.pvtRendererArea { padding: 5px;}

table.ultraPivot .pvtAxisLabel {
    white-space: nowrap;
    text-overflow: ellipsis;
}

.expanded {
    cursor: pointer
}

/* Default Theme Colors */
.ultra-default-light table.ultraPivot {
    color: #3D3D3D;
}

/* full tables background*/
.ultra-default-light table.ultraPivot {
    background: #e6EEEE;
}

/* data rows background*/
.ultra-default-light table.ultraPivot .pvtVal {
    background: #fcfdfe;
}

/* subtotals background*/
.ultra-default-light table.ultraPivot .rowTotal,
.ultra-default-light table.ultraPivot .colTotal,
.ultra-default-light table.ultraPivot .pvtTotalLabel,
.ultra-default-light table.ultraPivot .pvtColSubtotal,
.ultra-default-light table.ultraPivot .pvtRowSubtotal,
.ultra-default-light table.ultraPivot .pvtRowLabelFiller,
.ultra-default-light table.ultraPivot .pvtColLabelFiller {
    background: #EFEFEF;
}

/* grand total background*/
.ultra-default-light table.ultraPivot .pvtGrandTotal {
    background: #EFEFEF;
}

.ultra-default-light table.ultraPivot.rowHeaderTable tr,
.ultra-default-light table.ultraPivot.axisTable tr,
.ultra-default-light table.ultraPivot.dataTable tr {
    border-bottom: 1px solid #CDCDCD;
}

.ultra-default-light table.ultraPivot.colHeaderTable tr {
    border-bottom: 1px solid #CDCDCD;
}

.ultra-default-light table.ultraPivot .pvtColLabel,
.ultra-default-light table.ultraPivot .pvtTotalLabel.rowTotal,
.ultra-default-light table.ultraPivot .pvtColLabelFiller {
    border-left: 1px solid #CDCDCD;
    border-right: 1px solid #CDCDCD;
}

.ultra-default-light table.ultraPivot td {
    border-left: 1px solid #CDCDCD;
}


/*
*
* IMPORTANT: Please do not remove the lines below this point
*
*/
table.ultraPivot tr .rowhide {
    display: none;
}

table.ultraPivot tr .colhide {
    display: none;
}

