.ultra-pivot-material-dark table.pvtTable {
    color: #111;
}

/* full tables background*/
.ultra-pivot-material-dark table.axisTable,
.ultra-pivot-material-dark table.rowHeaderTable {
    background: #1E88E5;
}

/* full tables background*/
.ultra-pivot-material-dark table.dataTable,
.ultra-pivot-material-dark table.colHeaderTable {
    background: #1E88E5;
}

/* data rows background*/
.ultra-pivot-material-dark table.dataTable tr:nth-child(odd) {background: #90CAF9 !important;}
.ultra-pivot-material-dark table.dataTable tr:nth-child(even) {background: #BBDEFB !important;}

/* subtotals background*/
.ultra-pivot-material-dark table.pvtTable .rowTotal,
.ultra-pivot-material-dark table.pvtTable .colTotal,
.ultra-pivot-material-dark table.pvtTable .pvtTotalLabel,
.ultra-pivot-material-dark table.pvtTable .pvtColSubtotal,
.ultra-pivot-material-dark table.pvtTable .pvtRowSubtotal,
.ultra-pivot-material-dark table.pvtTable .pvtRowLabelFiller,
.ultra-pivot-material-dark table.pvtTable .pvtColLabelFiller {
    background: #127bd6;
}

/* grand total background*/
.ultra-pivot-material-dark table.pvtTable .pvtGrandTotal {
    background: #0d68b7;
}

.ultra-pivot-material-dark table.pvtTable tr {
    border-bottom: 1px solid #9FA8DA;
}

.ultra-pivot-material-dark table.pvtTable .pvtColLabel,
.ultra-pivot-dark table.pvtTable .pvtTotalLabel.rowTotal,
.ultra-pivot-material-dark table.pvtTable .pvtColLabelFiller {
    border-left: 1px solid #9FA8DA;
    border-right: 1px solid #9FA8DA;
}

.ultra-pivot-material-dark table.pvtTable td {
    border-left: 1px solid #9FA8DA;
}
