.ultra-pivot-light table.ultraPivot {
    color: #111;
}

/* full tables background*/
.ultra-pivot-light table.ultraPivot {
    background: #e5e5e5;
}

/* data rows background*/
.ultra-pivot-light table.dataTable tr:nth-child(odd) {background: #eee !important;}
.ultra-pivot-light table.dataTable tr:nth-child(even) {background: #ddd !important;}

/* subtotals background*/
.ultra-pivot-light table.ultraPivot .rowTotal,
.ultra-pivot-light table.ultraPivot .colTotal,
.ultra-pivot-light table.ultraPivot .pvtTotalLabel,
.ultra-pivot-light table.ultraPivot .pvtColSubtotal,
.ultra-pivot-light table.ultraPivot .pvtRowSubtotal,
.ultra-pivot-light table.ultraPivot .pvtRowLabelFiller,
.ultra-pivot-light table.ultraPivot .pvtColLabelFiller {
    background: #CCC;
}

/* grand total background*/
.ultra-pivot-light table.ultraPivot .pvtGrandTotal {
    background: #AAA;
}

.ultra-pivot-light table.ultraPivot.rowHeaderTable tr,
.ultra-pivot-light table.ultraPivot.axisTable tr,
.ultra-pivot-light table.ultraPivot.dataTable tr {
    border-bottom: 1px solid #757575;
}

.ultra-pivot-light table.ultraPivot.colHeaderTable tr {
    border-bottom: 1px solid #e5e5e5;
}

.ultra-pivot-light table.ultraPivot .pvtColLabel,
.ultra-pivot-light table.ultraPivot .pvtTotalLabel.rowTotal,
.ultra-pivot-light table.ultraPivot .pvtColLabelFiller {
    border-left: 1px solid #757575;
    border-right: 1px solid #757575;
}

.ultra-pivot-light table.ultraPivot td {
    border-left: 1px solid #757575;
}
