.ultra-pivot-dark table.ultraPivot {
    color: #fff;
}

/* full tables background*/
.ultra-pivot-dark table.ultraPivot {
    background: #555;
}

/* data rows background*/
.ultra-pivot-dark table.dataTable tr:nth-child(odd) {background: #AAA !important;}
.ultra-pivot-dark table.dataTable tr:nth-child(even) {background: #999 !important;}

/* subtotals background*/
.ultra-pivot-dark table.ultraPivot .rowTotal,
.ultra-pivot-dark table.ultraPivot .colTotal,
.ultra-pivot-dark table.ultraPivot .pvtTotalLabel,
.ultra-pivot-dark table.ultraPivot .pvtColSubtotal,
.ultra-pivot-dark table.ultraPivot .pvtRowSubtotal,
.ultra-pivot-dark table.ultraPivot .pvtRowLabelFiller,
.ultra-pivot-dark table.ultraPivot .pvtColLabelFiller {
    background: #444;
}

/* grand total background*/
.ultra-pivot-dark table.ultraPivot .pvtGrandTotal {
    background: #000;
}

.ultra-pivot-dark table.ultraPivot.rowHeaderTable tr,
.ultra-pivot-dark table.ultraPivot.axisTable tr,
.ultra-pivot-dark table.ultraPivot.dataTable tr {
    border-bottom: 1px solid #333;
}

.ultra-pivot-dark table.ultraPivot.colHeaderTable tr {
    border-bottom: 1px solid #555;
}

.ultra-pivot-dark table.ultraPivot .pvtColLabel,
.ultra-pivot-dark table.ultraPivot .pvtTotalLabel.rowTotal,
.ultra-pivot-dark table.ultraPivot .pvtColLabelFiller {
    border-left: 1px solid #333;
    border-right: 1px solid #333;
}

.ultra-pivot-dark table.ultraPivot td {
    border-left: 1px solid #333;
}
