.ultra-pivot-material-light table.pvtTable {
    color: #111;
}

/* full tables background*/
.ultra-pivot-material-light table.axisTable,
.ultra-pivot-material-light table.rowHeaderTable {
    background: linear-gradient(to right,#3F51B5,#2196F3);
}

/* full tables background*/
.ultra-pivot-material-light table.dataTable,
.ultra-pivot-material-light table.colHeaderTable {
    background: linear-gradient(to left,#3F51B5,#2196F3);
}

/* data rows background*/
.ultra-pivot-material-light table.dataTable tr:nth-child(odd) {background: #eee !important;}
.ultra-pivot-material-light table.dataTable tr:nth-child(even) {background: #ddd !important;}

/* subtotals background*/
.ultra-pivot-material-light table.pvtTable .rowTotal,
.ultra-pivot-material-light table.pvtTable .colTotal,
.ultra-pivot-material-light table.pvtTable .pvtTotalLabel,
.ultra-pivot-material-light table.pvtTable .pvtColSubtotal,
.ultra-pivot-material-light table.pvtTable .pvtRowSubtotal,
.ultra-pivot-material-light table.pvtTable .pvtRowLabelFiller,
.ultra-pivot-material-light table.pvtTable .pvtColLabelFiller {
    background: #aaa;
}

/* grand total background*/
.ultra-pivot-material-light table.pvtTable .pvtGrandTotal {
    background: #888;
}

.ultra-pivot-material-light table.pvtTable tr {
    border-bottom: 1px solid #424242;
}

.ultra-pivot-material-light table.pvtTable .pvtColLabel,
.ultra-pivot-material-light table.pvtTable .pvtColLabelFiller {
    border-left: 1px solid #424242;
    border-right: 1px solid #424242;
}

.ultra-pivot-material-light table.pvtTable td {
    border-left: 1px solid #424242;
}
